**Pandas Selecting Columns and Rows**

Notes
1. Selecting a single column from the DataFrame will return a Series
2. Selecting multiple columns from the DataFrame will return a DataFrame

In [1]:
import pandas as pd

In [2]:
# value lists for dictionary
year = [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012]

team = ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
        'Lions', 'Lions']

wins = [11, 8, 10, 15, 11, 6, 10, 4]

losses = [5, 8, 6, 1, 5, 10, 6, 12]

In [5]:
# create dictionary (key-value pairs)
# values from above
data = {
    'year': year,
    'team': team,
    'wins': wins,
    'losses': losses,
}

In [6]:
# create DataFrame
football = pd.DataFrame(data)

In [7]:
football.head()

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012

In [8]:
# select "year" column
# all rows
football.loc[:, 'year']

0    2010
1    2011
2    2012
3    2011
4    2012
5    2010
6    2011
7    2012
Name: year, dtype: int64

In [10]:
# since we're only accessing one column, it's a pandas Series (vector)
type(football.loc[:, 'year'])

pandas.core.series.Series

In [11]:
# select multiple columns
# all rows
columns = ['year', 'wins', 'losses']
football.loc[:, columns]

   year  wins  losses
0  2010    11       5
1  2011     8       8
2  2012    10       6
3  2011    15       1
4  2012    11       5
5  2010     6      10
6  2011    10       6
7  2012     4      12

In [12]:
# since we're accessing multiple columns, it's a pandas DataFrame (matrix)
type(football.loc[:, columns])

pandas.core.frame.DataFrame

In [13]:
# select based on comparison operators
# all columns
# rows where football's wins > 10
football.loc[football.wins > 10, :]

   losses     team  wins  year
0       5    Bears    11  2010
3       1  Packers    15  2011
4       5  Packers    11  2012

In [14]:
# select based on comparison operators
# only team and wins columns
# rows where football's wins > 10
columns = ['team', 'wins']
football.loc[football.wins > 10, columns]

      team  wins
0    Bears    11
3  Packers    15
4  Packers    11

In [15]:
# select with multiple conditions
football.loc[(football.wins > 10) & (football.team == 'Bears'), :]

   losses   team  wins  year
0       5  Bears    11  2010