**Creating a DataFrame from Objects**

In [1]:
import pandas as pd

In [2]:
# create list of column names
columns = ['bronze', 'country_name', 'gold', 'silver']

In [10]:
# dictionary values
countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
             'Netherlands', 'Germany', 'Switzerland', 'Belarus',
             'Austria', 'France', 'Poland', 'China', 'Korea', 
             'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
             'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
             'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

In [23]:
# create dictionary (key-value pairs)
# key: object
# value: lists 

ex_dict = {
    'country_name': countries,
    'gold': gold,
    'silver': silver,
    'bronze': bronze
}

In [41]:
# create DataFrame called 'olympic_medal_counts_df'

df = pd.DataFrame(ex_dict, columns=columns)

In [42]:
df.head()

    country_name  gold  silver  bronze
0   Russian Fed.    13      11       9
1         Norway    11       5      10
2         Canada    10      10       5
3  United States     9       7      12
4    Netherlands     8       7       9

In [43]:
df.shape

(26, 4)

In [60]:
# we need 26 x 3 dot 3 x 1 
# this would give a 26 x 1 series which we can concatenate
lst = ['gold', 'silver', 'bronze']
v1 = df.loc[:, lst]
v1.head()

   gold  silver  bronze
0    13      11       9
1    11       5      10
2    10      10       5
3     9       7      12
4     8       7       9

In [46]:
lst_points = [[4], [2], [1]]
lst_points

[[4], [2], [1]]

In [49]:
# create series
v2 = pd.Series(lst_points)

In [52]:
import numpy as np
v3 = pd

In [59]:
v3

array([ [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1],
       [4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [4, 4, 4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [4, 4, 4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1],
       [4, 4, 4, 4, 4, 4, 2, 2, 2, 1, 1], [4, 4, 4, 4, 4, 1],
       [4, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1],
       [4, 4, 4, 4, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1], [4, 4, 4, 4, 2, 1],
       [4, 4, 4, 2, 2, 2, 2, 1, 1], [4, 4, 4, 2, 2, 2, 1, 1],
       [4, 4, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1],
       [4, 4, 2, 2, 2, 2, 1, 1], [4, 4, 2, 2, 1, 1, 1, 1],
       [4, 2, 2, 2, 2, 1, 1, 1], [4, 2, 2, 2, 1], [4, 2, 1, 1], [4, 1],
       [4], [2, 2, 1, 1, 1, 1, 1, 1], [2, 2, 1, 1], [2, 2, 1], [2], [1]], dtype=object)